body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0;
  background-color: #E2E6DB;
}
img{
    max-width: 30%;
    height: auto;
}
nav{
    background-color: #062c57;
    padding: 10px;
    display: flex;
    justify-content: center;
}
nav a{
    text-align: center;
    color: whitesmoke;
    display: inline-block;
    width: 20%;
    margin-right: 2%;
}
nav a.active, nav a:hover{
    background-color: #eaf36e;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    color: black;
}
main{
    padding: 2%;
    background-color: aliceblue;
}
footer{
    background-color: #062c57;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
ul {
  list-style-type: circle;
}
li{
    margin-bottom: 2px;
    display: list-item;
    width: fit-content;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
}
p{
    line-height: normal;
}
.img-row{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
#navBar img{
    max-width: 3%;
    height: auto;
    margin: 0 2% 0 0;
}
