body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0;
  background-color: #E2E6DB;
}
img{
    max-width: 30%;
    height: auto;
}
nav{
    background-color: #4A90E2;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
main{
    padding: 20px;
    background-color: aliceblue;
    }
footer{
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;}
li{
    margin-bottom: 8px;
    display: list-item;
    width: fit-content;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
}
p{
    line-height: normal;
}
.img-row{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
